<!DOCTYPE html>
%html
%head
	%title= "Pragprog Books Online Store"
	= stylesheet_link_tag "scaffold"
	= stylesheet_link_tag "depot", :media => "all"
	= javascript_include_tag :defaults
	= csrf_meta_tag
%body#store
	%div#banner
		= link_to image_tag("logo.png", :border => 0), store_url
		= @page_title || "Pragmatic Bookshelf"
	%div#columns
		%div#side
			- if @cart
				- hidden_div_if(@cart.line_items.empty?, :id => "cart") do
					=render @cart	

			= link_to "Home", store_url
			%br
			= link_to "Questions", store_url
			%br
			= link_to "News", store_url
			%br
			= link_to "Contact", store_url
			%br
			- if session[:user_id]
				%br
				= link_to 'Orders', orders_url
				%br
				= link_to 'Products', products_url
				%br
				= link_to 'Users', users_url
				%br
				%br
				= button_to 'Log out', logout_path, :method => :delete
		%div#main
			= yield
